<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">
	
	<!-- <resultMap type="com.board.VO.BoardVO" id="boardVO">
		<result property="no" column="no"/>
		<result property="titl" column="titl"/>
		<result property="cntt" column="wrt_nm"/>
		<result property="orn_no" column="orn_no"/>
		<result property="inqry_cnt" column="inqry_cnt"/>
		<result property="reg_dt" column="reg_dt"/>
	</resultMap> -->


	<select id="selectBoardList" parameterType="Integer" resultType="hashmap">
		<![CDATA[
			SELECT
				RN,
				NO,
				ORN_NO,
				LPAD('-', 4*(LEVEL-1))||TITL AS TITL,
				CNTT,
				WRT_NM,
				INQRY_CNT,
				REG_DT,
				TOTAL_PAGE,
				LEVEL AS LE
			FROM(
				SELECT
					A.*
				FROM(	
					SELECT
						CEIL(RN/10) AS PAGE_NO,
						CEIL(TOTAL_CNT/10) AS TOTAL_PAGE,
						A.*
					FROM(	
						SELECT
							ROW_NUMBER() OVER(ORDER BY NO DESC) AS RN,
							COUNT(NO) OVER() TOTAL_CNT,
							
							A.*
						FROM TB_SUP_BBS A
					) A
				) A WHERE PAGE_NO=#{page}
			) A
			START WITH ORN_NO IS NULL
			CONNECT BY PRIOR NO=ORN_NO
		]]>
	</select>
	<insert id="inBoard" parameterType="hashmap">
		<![CDATA[
			Insert into TB_SUP_BBS 
			(NO,TITL,CNTT,WRT_NM,INQRY_CNT,REG_DT) 
			values(SQ_SUP_BBS.nextval,#{TITL},#{CNTT},#{WRT_NM},0,SYSDATE)
		]]>
	</insert>
	<!-- reply -->
	<insert id="replyInsert" parameterType="hashmap">
		<![CDATA[
			INSERT INTO TB_SUP_BBS
			(NO,TITL,CNTT,WRT_NM,ORN_NO,INQRY_CNT,REG_DT)
			VALUES(SQ_SUP_BBS.nextval,#{TITL},#{CNTT},#{WRT_NM},#{NO},0,SYSDATE)
		]]>
	</insert>
	<!-- 클릭수 -->
	<update id="hitUp" parameterType="Integer">
		<![CDATA[
			UPDATE TB_SUP_BBS SET 
			INQRY_CNT = INQRY_CNT+1
			WHERE NO=#{NO}
		]]>		
	</update>
	<!-- 수정 -->
	<update id="modifyQuery" parameterType="hashmap">
		<![CDATA[
			UPDATE TB_SUP_BBS SET
			TITL=#{TITL}, WRT_NM=#{WRT_NM}, CNTT=#{CNTT}
			WHERE NO=#{NO}
		]]>
	</update>
</mapper>