<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">
	
	<!-- <resultMap type="com.board.VO.BoardVO" id="boardVO">
		<result property="no" column="no"/>
		<result property="titl" column="titl"/>
		<result property="cntt" column="wrt_nm"/>
		<result property="orn_no" column="orn_no"/>
		<result property="inqry_cnt" column="inqry_cnt"/>
		<result property="reg_dt" column="reg_dt"/>
	</resultMap> -->

	<select id="selBoardList" resultType="hashmap">
		<![CDATA[
			Select * from TB_SUP_BBS order by NO Desc
		]]>
	</select>
	
	<insert id="inBoard" parameterType="hashmap">
		<![CDATA[
			Insert into TB_SUP_BBS 
			(NO,TITL,CNTT,WRT_NM,INQRY_CNT,REG_DT) 
			values(SQ_SUP_BBS.nextval,#{TITL},#{CNTT},#{WRT_NM},0,SYSDATE)
		]]>
	</insert>
	
</mapper>